@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<QuanLyKhachSan.Models.Phong>

@{
    ViewData["Title"] = "QLPhong";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="centered-bold-purple">Danh Sách Phòng</h1>

<p>
    <a asp-action="ThemPhong">
        <button class="button-purple ">Thêm Phòng</button>
    </a>
</p>
<div></div>
<form asp-action="QLPhong" method="get" class="form-inline">
    <div class="form-group">
        <label>
            Tình trạng phòng:
            <input type="checkbox" name="tinhTrangPhong" value="true" />
        </label>
        <button type="submit" class="btn-purple">Tìm kiếm</button>
    </div>
    <div>
        Giá từ <input type="number" name="to" />
        đến <input type="number" name="from" />
        Nhập loại phòng <input type="text" name="IdLp" />
        <button type="submit" class="btn-purple">Tìm kiếm</button>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                ID_P
            </th>
            <th>
                Tên phòng
            </th>
            <th>
                Giá phòng
            </th>
            @* <th>
                Chi tiết phòng *@
            <th>
                IP_LP
            </th>
            <th>
                Tình trạng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenPhong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaP)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.ChiTietP)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.IdLp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
                @(item.TinhTrang ? "Phòng đã thuê" : "Phòng còn trống")
            </td>
             <td>
                    <a asp-action="SuaPhong" asp-route-IdP="@item.IdP">
                        <button type="button" class="btn-success">Edit</button>
                    </a>
                   
                    <a asp-action="XoaPhong" asp-route-IdP="@item.IdP">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </a>
             </td>
             <td>@(item.TinhTrang ? "Yes" : "No")</td>
             <td>
                    @if (!item.TinhTrang) // Hiển thị nút Check In khi phòng đang trống
                    {
                        <a asp-action="CheckIn" asp-route-IdP="@item.IdP">
                            <button type="button" class="btn btn-blue">Check In</button>
                        </a>
                    }
                    @if (item.TinhTrang) // Hiển thị nút Check In khi phòng đang trống
                    {
                        <a asp-action="CheckOut" asp-route-IdP="@item.IdP">
                            <button type="button" class="btn btn-danger">Check Out</button>
                        </a>
                    }
             </td>
        </tr>
}
    </tbody>
</table>

<nav>
    <ul class="pagination">
        @if (ViewBag.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("QLPhong", new { pageNumber = ViewBag.CurrentPage - 1, tinhTrangPhong = ViewBag.TinhTrang, to = ViewBag.To, from = ViewBag.From, IdLp = ViewBag.IdLp })">Trang trước</a>
            </li>
        }

        @for (var i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                <a class="page-link" href="@Url.Action("QLPhong", new { pageNumber = i, tinhTrangPhong = ViewBag.TinhTrang, to = ViewBag.To, from = ViewBag.From, IdLp = ViewBag.IdLp })">@i</a>
            </li>
        }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("QLPhong", new { pageNumber = ViewBag.CurrentPage + 1, tinhTrangPhong = ViewBag.TinhTrang, to = ViewBag.To, from = ViewBag.From, IdLp = ViewBag.IdLp })">Trang sau</a>
            </li>
        }
    </ul>
</nav>
<div>
    <a asp-controller="Admin" asp-action="QLPhong">Về trang chủ Quản Lý Phòng</a>
</div>